/* ======================== 
          FONTS
   ======================== */

@font-face {
    font-family: 'OpenSansLight';
    src: url('../font/OpenSansLight.ttf')  format('truetype');
}

@font-face {
    font-family: 'DKBitumen';
    src: url('../font/DKBitumen.otf')  format('truetype');
}

@font-face {
    font-family: 'orangeJuice';
    src: url('../font/orangejuice2.0.ttf')  format('truetype');
}

body {
  width: 100%;
  height: 100%;
	color: #FFFFFF;
  background-color: #252525;
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}


h1, h2 {
  color: #e8e8e8;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  line-height: 36px;
}

h2 {
  padding-left: 20px;
  font-size: 20px;
  text-align: left;
}

header {
  font-family: 'orangeJuice';
  height: 60px;
  width: 100%;
  background-color: rgba(62, 62, 62, 0.75);
  border-bottom: solid 5px #404040;
  padding-top: 20px;
  color: rgba(177, 163, 5, 0.93);
  font-size: 80px;
  text-align: center;
  text-shadow: 0px 0px 20px #000000;
  line-height: 50px;
}

canvas {
  width: 90%;
  height: 800px;
  margin-top: 30px;
  background-color: #FFFFFF;
  border-radius: 7px;
  box-shadow: 0px 0px 8px 5px #0a0a0a;
}

button {
  border: solid 2px #374c41;
  background-color: #104240;
  color: #a1a1a1;
}

.big {
  width: 400px;
  height: 60px;
  font-size: 20px;
  font-style: "bold";
  margin-bottom: 10px;
}

textarea {
  width: 90%;
  height: 180px;
  margin-bottom: 10px;
  color: #f9f8dd;
  background-color: #191919;
  border-radius: 2px;
  border: 1px solid #121212;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

/* ========================
          class
   ======================== */

.two-column-list {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -moz-column-fill: auto;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -webkit-column-fill: auto;
  column-count: 2;
  column-gap: 20px;
  column-fill: auto;
}

.options-wrapper {
  border: solid 1px #FFFFFF;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0px;

  border-radius: 2px;
  border: 1px solid #121212;
  background-color: rgb(25, 25, 25);
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);
  color: #ff9800;
  font-style: italic;
}


/* ========================
          divs
   ======================== */

#body-wrapper {
  width: 100vw;
  max-width: 100%;
  height: calc(100vh - 50px);
}

#models-wrapper {
  display:block;
  width: 65%;
  height: 100%;
  max-height: 100%;
  float: left;
  overflow-y: auto;
}

#menu-wrapper {
  width: calc(35% - 5px);
  min-height: 100%;
  float: right;
  border-left: solid 5px #404040;;
  text-align: center;
  box-shadow: inset 2px 0px 1px 1px #1d1c1c;
}

/* ========================
          Scrollbar
   ======================== */

#models-wrapper::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #191919;
}

#models-wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #191919;
}

#models-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(208, 192, 4, 0.93);
}
